@charset "utf-8";

$clr-theme-1: $clr-purple-800;
$clr-theme-2: $clr-purple-300;
$clr-theme-3: $clr-purple-50;
$clr-theme-4: $clr-purple-100;
$clr-theme-5: $clr-purple-200;
$clr-theme-6: $clr-purple-400;
$clr-theme-7: $clr-purple-500;
$clr-theme-8: $clr-purple-600;
$clr-theme-9: $clr-purple-700;
$clr-theme-10: $clr-purple-900;
$clr-theme-11: $clr-purple-a100;
$clr-theme-12: $clr-purple-a200;
$clr-theme-13: $clr-purple-a400;
$clr-theme-14: $clr-purple-a700;
